/* .card-body-content{
    background: antiquewhite !important;
}

.button{
    width: 35px;
    height: 35px;
    text-align: right;
}

.top{
    display: flex;
    justify-content: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

p{
    margin: 0 !important;
}

.main{
    width: 500px;
    border-radius: 10px;
    background-color: #01579b;
    margin: 20px auto;
}

.main-container{
    overflow: auto;
    border-radius: 10px;
}

.top{
    height: 60px;
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    /* font-family: 'Recursive', sans-serif; */
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: #424242;
    color: whitesmoke;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
    border-radius: 10px 10px 0 0;
    /* font-family: 'Recursive', sans-serif; */
}

.day{
    padding: 15px;
    color: whitesmoke;
    /* font-family: 'Recursive', sans-serif; */
    font-size: 22px;
    font-weight: 600;
}

.dayList{
    /* display: flex; */
    padding: 15px;
    color: whitesmoke;
    /* font-family: 'Recursive', sans-serif; */
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    /* text-align: left; */
    /* justify-content: space-around; */
    border-right: 1px solid #063357;
    cursor: pointer;
}

.daynight-block {
    text-align: left;
    font-style: italic;
}

.daily-report-content{
    display: block ruby;
    overflow: auto;
    scrollbar-width: thin;
}

.temp{
    padding: 15px;
    color: whitesmoke;
    /* font-family: 'Recursive', sans-serif; */
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.sunrise-sunset{
    padding: 15px;
    color: whitesmoke;
    /* font-family: 'Recursive', sans-serif; */
    font-size: 16px;
}

.description{
    display: flex;
    padding: 15px;
    color: whitesmoke;
    /* font-family: 'Recursive', sans-serif; */
    font-size: 24px;
    font-weight: 600;
}

.button{
    width: 35px;
    height: 35px;
}

.weather-icon{
    width: 35px;
    height: 35px;
}

.daynight-block{
    font-size: 14px;
}

button{
    background: none;
    border: 0;
    padding: 0;
}